div {
    font-family:'inter', sans-serif;
}

.topcolor{
    display:flex;
    background-color: #1f2937;
    justify-content: space-between;
    flex-shrink: 0;
}

.headerlogo{
    font-size:24px ;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 250px;
    height: fit-content;

}

.headerlink{
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 250px;
    height: fit-content;
}

.bgap{
    display: flex;
    background-color: #1f2937;
    height: 130px;
}

.descript{
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
    margin-left: 250px;
}


#watch{
    height: 400px;
    width: 700px;
    margin-right: 250px;
    border-radius: 5px;
}
#descript2{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

.signup{
    background-color: #3882F6 ;
    color: #E5E7EB;
    font-size: 25px;
    border-radius: 5px;
    border-style: solid;
}

#midheader{
    font-size:  36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.bluebox{
    display:flex;
    justify-content: space-evenly;
}

.bluebox2{
    height: 250px;
    width: 200px;
    border-radius: 5px;
}

.watchdesc{
    font-size: 18px;
    font-weight: bold;
}

.greygap{
    display: flex;
    background-color: #e5e7eb;
    height: 100px;
    justify-content: space-evenly;
}

.greyquote{
    display:flex;
    background-color: #e5e7eb;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.quote{
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.thor{
    font-weight: bold;
    font-size: 18px;
    margin-left: 600px;
}

.callsection{
    display:flex;
    background-color: #3882F6 ;
    flex-shrink: 0;
    padding-inline: 130px;
    padding-block: 50px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 10px;
    overflow: auto;

}

.callaction{
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
}

.callaction1{
    font-size: 15px;
    color: #E5E7EB;
    font-weight: normal;
}

.signup1{
    background-color: #3882F6 ;
    color: #E5E7EB;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 270px;
    border:  solid #E5E7EB;
}